@import "tailwindcss";

:root {
  --background: #030303;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background: #001724;
background: -webkit-linear-gradient(147deg, rgba(0, 23, 36, 1) 30%, rgba(118, 0, 120, 1) 100%);
background: -moz-linear-gradient(147deg, rgba(0, 23, 36, 1) 30%, rgba(118, 0, 120, 1) 100%);
background: linear-gradient(147deg, rgba(0, 23, 36, 1) 30%, rgba(118, 0, 120, 1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#001724", endColorstr="#760078", GradientType=0);
}

.gradient {
  background: #001724;
background: -webkit-linear-gradient(147deg, rgba(0, 23, 36, 1) 30%, rgba(118, 0, 120, 1) 100%);
background: -moz-linear-gradient(147deg, rgba(0, 23, 36, 1) 30%, rgba(118, 0, 120, 1) 100%);
background: linear-gradient(147deg, rgba(0, 23, 36, 1) 30%, rgba(118, 0, 120, 1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#001724", endColorstr="#760078", GradientType=0);
}
